
    <!-- JQuery - 3.1.1 -->
    <script src="./javascripts/jquery-3.1.1.min.js"></script>
    <script src="./bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="./toopay-bootstrap-markdown-604a3be/js/bootstrap-markdown.js"></script>

</body>
    <script src="./javascripts/marked.js"></script>
</html>
